body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(120deg, #000000, #000000);
}

.container {
    text-align: center;
    backdrop-filter: blur(10px);
    background: rgba(19, 21, 8, 0.4);
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 4px 30px rgba(255, 255, 0.1);
}

h1 {
    font-size: 2em;
    color: #fbf9f9;
}

.mode-select {
    margin-bottom: 20px;
}

.mode-select label {
    margin: 0 10px;
    font-size: 1em;
    color: #dfd7d7;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 10px;
    margin: 20px auto;
}

.cell {
    width: 100px;
    margin-left: 10px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background: rgba(250, 247, 247, 0.4);
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.4s;
}

.cell:hover {
    background: rgba(255, 255, 255, 0.7);
}

.scoreboard {
    margin-top: 20px;
    font-size: 1.2em;
    color: #eee1e1;
}

#resetButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    background: rgba(248, 244, 244, 0.4);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

#resetButton:hover {
    background: rgba(255, 255, 255, 0.7);
}

.status {
    margin-top: 20px;
    font-size: 1.2em;
    color: #e8e1e1;
}
